<div class="nav">
  <a href="/" class="logo"><%= locals.siteTitle %></a>
  <a href="/">
    <li>Home</li>
  </a>
  <ul>
    <% if(!locals.currentUser) { %>
    <a href="/register">
      <li>Register</li>
    </a>
    <% } %>
    <% if(!locals.currentUser) { %>
    <a href="/login">
      <li>Login</li>
    </a>
    <% } else { %>
    <p>Hi, <%= locals.currentUser.username %>!</p>
    <a href="/logout">
      <li>Logout</li>
    </a>
    <% } %>
  </ul>
</div>