<%- include("partials/header") %>

<% if(locals.currentUser) { %>
<div class="app container">
  <a href="/directory/<%= locals.currentUser.directories[0].id %>">Go to root directory of <%= locals.currentUser.username %></a>
</div>
<% } %>